# DataRobot Agent Templates用簡易フロントエンドの設定ファイル
# datarobot-agetnt-templates
# https://github.com/datarobot-community/datarobot-agent-templates/tree/main

# このファイルはローカルで本フロントエンドを実行する場合にのみ使用されます
# DataRobotカスタムアプリケーション環境で実行する場合は不要です
# ローカルで実行する使用する場合は、このファイルを.envにコピーし、値を入力してください

# DataRobot APIトークン
DATAROBOT_API_TOKEN=your_api_token_here

# DataRobotエンドポイント（例: https://app.jp.datarobot.com/api/v2）
DATAROBOT_ENDPOINT=your_endpoint_here

# DataRobot Agent Templatesで作成したデプロイのID
DATAROBOT_DEPLOYMENT_ID=your_deployment_id_here